*{
	margin: 0;padding: 0;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden;
}

#container1 {
  position: absolute;
  width: 100vmax;
  height: 100vmax;
  left: 50%;
  top: 50%;
  background: linear-gradient(to bottom, #000, #111);
  transform: translate3d(-50%, -40%, 0);
}

canvas {
  display: block;
}

p{
	position: absolute;
	right: 10px;bottom: 10px;
}
@keyframes mymove{
	from{height: 0;}
	to{height: 100%;}
}
.b-box{
	width: 300px;height: 300px;
	position:absolute;top: 50%;left: 50%;margin-left: -150px;margin-top:-150px ;
}
.b-box span{
	display:inline-block;
	width: 120px;height: 120px;background: rgba(255,255,255,0.2);margin: 13px;text-align: center;
	line-height: 120px;
}
.b-box span:hover{
	cursor: pointer;background-color: rgba(255,255,255,0.4);color: black;
	
}
.b-box span a{
	text-decoration: none;color: white;
}

.b-box span a:hover{color: black;}